@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inria Sans'
}

.headerContainer{
    display: flex;
    flex-direction: column;

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: oklch(.25 .15 258.34);
        height: auto;
        padding: 10px 50px;

            img{
                width: 12%;
                filter: brightness(100);
            }

        .inputCont{
            background-color: #fff;
            padding: 5px 10px;
            width: 30%;
            display: flex;
            border-radius: 30px;

            .input{
                display: flex;
                align-items: center;
                gap: 10px;
                width: 100%;

                input{
                    border: none;
                    background-color: transparent;
                    padding: 5px 0px;
                    outline: none;
                    font-size: 16px;

                    &::placeholder{
                        font-size: 14px;
                    }
                }
            }
        }

        nav{
            display: flex;
            gap: 20px;

            a{
                text-decoration: none;
                color: #fff;
                font-size: 18px;
                position: relative;

                &::after{
                    content: '';
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -10px;
                    width: 0;
                    height: 2px;
                    background: linear-gradient(to right, #4f46e5, #3b82f6);
                    transition: width .5s ease;
                }
            }

        }

        nav a:hover::after{
    width: 100%;
}
    }

     .tags{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 5px;
            background-color: #ffffff;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);


            .links{
                display: flex;
                gap: 50px;
                font-size: 24px;
                font-weight: 400;

                a{
                    text-decoration: none;
                    color: #000;
                    
                }
            }
        }
}

